.pokemon-card {
    display: inline-block;
    background-color: #333;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card-img {
    width: 150px; /* Tamaño fijo */
    height: 150px; /* Tamaño fijo */
    object-fit: cover; /* Ajusta la imagen al tamaño */
    border-radius: 8px;
    margin-bottom: 10px;
}

.pokemon-types {
    margin-top: 10px;
}

.type-badge {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #555;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    text-transform: capitalize;
}
